@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Comfortaa&family=Rajdhani&family=Raleway&family=Teko&display=swap');

* {
    padding: 0;
    margin: 0;

}

/* Header */

a {
    color: #ad987d;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
    color: rgb(247, 247, 247);
}

.logo {
    position: absolute;
    width: 104px;
    height: 41px;
    left: 60px;
    top: 34px;
}

.logo img {
        position: absolute;
    max-width: 104px;
    height: 81px;
    left: -29px;
    top: -44px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background: #212123;
    height: 9vh;
    padding-top: 10px;
}

.nav-list {
    list-style: none;
    display: flex;
    padding-left: 80px;
    display: flex;
    text-align: center;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.nav-button {
    padding-right: 20px;
}

/* HOME */


/* CARROSEL */

.container-fluid {
    padding: 0 !important;
    margin: 0 !important;
}

.c-item {
    height: 580px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);

}

/* MARCA */

.text-brand {
    background: #212123;
    width: 669px;
    height: 476px;
    text-align: center;
}

.brand-title {
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 110px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

.brand-paragraph {
    font-size: 25px;
    font-family: 'Rajdhani', sans-serif;
    color: #ffffff;
}

.brand-video {
    position: absolute;
    width: 850px;
    height: 477px;
    left: 669px;
    object-fit: cover;
    top: 647px;
    opacity: 90%;
    border: solid;
}

.brand-main-2 {
    left: 150px;
    height: 268px;
    width: 100%;
    padding-top: 15px;
    background: #ad987d;
}

.brand-paragraph-2 {
    font-size: 25px;
    font-family: 'Rajdhani', sans-serif;
    color: #ffffff;
    text-align: center;
}

.logo-main {
    text-align: center;
    width: 245px;
    height: 254px;
    top: 1176px;
    position: absolute;
    left: 680px;
}

.product {
    background: url("/assets/img/background.jpg") no-repeat right top fixed;
    width: 100%;
    height: 382px;

}

.title-product {
    margin-top: 30px;
    left: 183px;
    font-size: 25px;
    font-family: 'Rajdhani', sans-serif;
    color: #ffffff;
    position: absolute;
    font-size: medium;
}

.product-paragraph {
    text-align: end;
    width: 271px;
    margin-top: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.app-store, .google-play {
    cursor: pointer;
}

.app-store {
    width: 130px;
    height: 45px;
    margin-top: 300px;
    margin-left: 15px;
}

.google-play {
    width: 130px;
    height: 39px;
    margin-top: 300px;
    margin-left: 183px;
}

.product-value img {
    display: inline-block;
    height: 182px;
    width: 191px;
    margin-top: -26%;
    margin-left: 20px;
}

.value-img1,
.value-img2,
.value-img3:hover {
    cursor: pointer;
}


.value-img1:first-child {
    margin-left: 610px;
}

/* PRODUTOS */

.itens {
    background-image: url(/assets/img/background4.jpg);
    width: 100%;
    height: 540px;
    object-fit: cover;
    opacity: 95%;
}

.itens-icon {
    margin-left: 229px;
    margin-top: 71px;
}

.itens-title {
    margin-top: 1px;
    margin-left: 183px;
    font-size: 50px;
    font-family: 'Comfortaa', cursive;
    color: #ffffff;
}

.itens-main p {
    font-size: 34px;
    width: 501px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans';
    color: #d6d6d6;
}


.itens-button {
    border-radius: 20px;
    color: #000000;
    font-family: Tahoma;
    font-size: 23px;
    font-weight: 100;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 20px 0 #000000;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    margin-left: 187px;
 }
 
 .itens-button:hover {
    background: #000000;
    border: solid #000000 1px;
    border-radius: 20px;
    
 }
                
 /* FORMULÁRIO */
 .contact-form {
    background: #222121;
 }

 .contact-img {
    width: 372px;
    height: 322px;
    position: absolute;
    left: 957px;
    top: 2426px;
 }

 .title_contato {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size:3em;
    color: #ad987d;
    text-align: left;
    margin-bottom:20px;
    margin-top: 50px;
    margin-left: 60px;
}
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  
  font-size: 0.8em;
  color: #fff;
  top: -11px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
  background: #ad987d;
  padding: 3px 8px;
  left: 25px;
  border-radius: 50px;
  font-weight: bold;

}
.style-form-input {
    float: left;
    width: 295px;
    margin: 1em 0;
    position: relative;
    border-radius: 4px;
}
.right { float:right; }
@media only screen and (max-width: 768px){
    
  .style-form-input { width:100%; }
}
.style-form-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}
.style-form-input.full { 
    width: 650px;
    max-width: 100%;
}
input,
textarea {
    width: 100%;
    padding: 30px;
    border: 0;
    font-size: 1em;
    background-color: #2d2d2d;
    color: #fff;
    border-radius: 50px;
}
input:focus,
textarea:focus { outline: 0; }
input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}
textarea {
    width: 100%;
    min-height: 10em;
}
.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
    margin: 0;
    padding: 0;
}
.btn-submit {
    width: 160px;
    color: #fff;
    font-size: 1.2em;    
    text-align: center;
    padding: 15px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #ad987d;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06), 0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    border:none;
}
.btn-submit:hover {
    
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
    0 1px 1px 0 rgba(0,0,0,0.09);
}
@media (max-width: 768px) {
    
    .btn-submit {
        
      width:100%;
      float: none;
      text-align:center;
    
    }
}
input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 
input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}

/* RODAPÉ */

.footer-main {
    background: #212123;
}